<ion-header>
  <ion-toolbar class="header">
    <ion-title>Bem-vindo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card>
    <ion-card-header>
      <ion-img class="logo-imagem" src="../../assets/imgs/KM_I_logo_fundo.svg"></ion-img>
      <br>
      <ion-card-subtitle>
        Seja Bem-vindo ao <strong class="titulo-destaque">KM Inteligente</strong>
      </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Aqui você confere qual combustivel é mais rentavel de acordo com o desempenho do seu veiculo.<br>
        <br>
        Usaremos as informações fornecidas pelo seu computador de bordo e caso não tenha computador de bordo, 
        vamos calcular o desempenho do seu veiculo.<br>
        <br>
        Localizar postos de combustível mais próximos, e leva-lo ate ele.<br>
      </ion-card-content>
  </ion-card>


  <ion-button class="block" (click)="dismissModal()">Vamos Começar !</ion-button>
</ion-content>