.calc{
    --color-selected: var(--ion-color-danger);
    --color: var(--ion-color-primary-tint);
}

.local{
    --color-selected: var(--ion-color-danger);
    --color: var(--ion-color-primary-tint);
}