ion-content {
    --background: var(--ion-color-danger-tint);
  }

.mapa{
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 95%;
}

ion-icon{
  text-align: center;
  margin-left: 3%;
}