<ion-header >
  <ion-toolbar class="header">
    <ion-icon slot="start" size="large" name="location-sharp"></ion-icon>
    <ion-title>Localizador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-card class="card-titulo">
    <ion-card-header>
      <ion-card-title class="titulo">
      Localize um Posto de Gasolina perto de você:
    </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
      Sua localização: <strong>{{ localAtual }}</strong>
    </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card class="mapa">
    <app-mapa></app-mapa> 
  </ion-card>
</ion-content>