.header{
  --background: var(--ion-color-warning-shade);
}

.header ion-title{
  font-weight: 600;
  color: #ffffff;
}

ion-content {
    --background: #f2d4d4;
  }

.mapa{
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 94%;
}

ion-icon{
  text-align: center;
  margin-left: 3%;
  color: #fff;
}

.header{
  --background: var(--ion-color-danger);
}
  .header ion-title{
      font-weight: 600;
      color: #fff;
  }