.header{
  --background: var(--ion-color-warning-shade);
}

.header ion-title{
  font-weight: 600;
  color: #ffffff;
}

ion-content {
    --background: linear-gradient(to right, var(--ion-color-warning-tint), var(--ion-color-dark-tint));
  }

.mapa{
    justify-content: center;
    align-items: center;
    height: 82%;
    width: 95%;
}

ion-icon{
  text-align: center;
  margin-left: 3%;
  color: #ffffff;
}