
ion-icon{
    text-align: center;
    margin-left: 3%;
  }

.paragrafo{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    padding: 2%;
    background-color: var(--ion-color-danger);
    font-weight: 500;
    color: #ffffff;
    margin: -1% 2% 0%;
}

.etanol{
    border: 3px solid var(--ion-color-success);
    border-radius: 8px;
    background-color: #ffffff;
}
    .etanol ion-card-header{
        color: var(--ion-color-success);
        font-size: large;
        text-align: center;
        font-weight: 500;
    }
    .etanol ion-input{
        color: var(--ion-color-dark);
        font-size: xx-large;
        text-align: center;
        font-weight: 500;
    }

.gasolina{
    border: 3px solid var(--ion-color-warning);
    border-radius: 8px;
    background-color: #ffffff;
}
    .gasolina ion-card-header{
        color: var(--ion-color-warning);
        font-size: large;
        text-align: center;
        font-weight: 500;
    }
    .gasolina ion-input{
        color: var(--ion-color-dark);
        font-size: xx-large;
        text-align: center;
        font-weight: 500;
    }
  
.container{
    margin-top: -30%;
    position: absolute;
    z-index: 2;
    background-color: #e9f6f5;
}

ion-button{
    height: 45px;
    margin: -1% 2% 0%;
    --background: var(--ion-color-danger);
    font-weight: 600;
    font-size: x-large;
    --border-radius: 8px;
}

.img_container {
    position: relative;
    z-index: 1;
    padding: 0%;
    background-color: #e9f6f5;
    margin: 0%;
}
    .img_container ion-img{
        width: 412px;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

.custom-content{
    background-color: #e9f6f5 !important;
}