<ion-header >
  <ion-toolbar class="header">
    <ion-icon slot="start" size="large" name="calculator-sharp"></ion-icon>
    <ion-title>Calculadora de Eficiência</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <div class="img_container">
      <ion-img src="../../assets/imgs/infographic.png" alt="posto"></ion-img>
  </div>

  <div class="container">
    <ion-grid>
      <ion-row class="paragrafo">
        Desempenho do seu veiculo em km/l fornecido pelo computador de bordo:
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="etanol">
            <ion-card-header>
              Etanol (Km/L)
            </ion-card-header>
            <ion-card-content>
              <ion-input type="number" [(ngModel)]="desempetanol" readonly></ion-input>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="gasolina">
            <ion-card-header>
              Gasolina (Km/L)
            </ion-card-header>
            <ion-card-content>
              <ion-input type="number" [(ngModel)]="desempgas" readonly></ion-input>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="paragrafo">
        Insira o Valor do Combustível:
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="etanol">
            <ion-card-header>
              Etanol (R$/L)
            </ion-card-header>
            <ion-card-content>
              <ion-input type="number" [(ngModel)]="precoetanol" [clearOnEdit]="true"></ion-input>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="gasolina">
            <ion-card-header>
              Gasolina (R$/L)
            </ion-card-header>
            <ion-card-content>
              <ion-input type="number" [(ngModel)]="precogas" [clearOnEdit]="true"></ion-input>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-button (click)="funcao(); setOpen(true)"
    id="present-alert" expand="block" tabindex="0">
    Calcular
    </ion-button>
  </div>

</ion-content>



<ion-alert class="custom-alert"
  [isOpen]="isAlertOpen"
  message="{{resultado}}"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>