/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

*{
    font-family: 'Exo', sans-serif;
  }

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }

  .custom-alert .alert-wrapper {
    background: #e5e5e5;
    color: #000000;
    border: 4px solid var(--ion-color-danger);
    border-radius: 12px;
  }

  .custom-alert .alert-message {
    color: #000000; /* Altere para a cor desejada */
    font-size: 18px; /* Opcional: ajuste o tamanho da fonte */
    font-weight: 700;
  }
  
  .custom-alert .alert-button {
    padding: 16px;
    background-color: var(--ion-color-danger);
    color: var(--ion-color-danger-contrast);
    border-radius: 12px;
    font-size: large;
  }

.recenter-button {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.recenter-button ion-icon {
  color: #c5000f; /* Cor do ícone */
  font-size: 18px;
}

